<div>
<div style="margin-top: 20px;">

<table>
<tr><th>Name</th><th>Description</th><th>In Stock</th><th>SKU</th><th>Price</th><th>Action</th></tr>
<tr ng-repeat="x in products ">
<td>{{x.productName}}</td><td>{{x.productDesc}}</td><td>{{x.inStock}}</td><td>{{x.sku}}</td><td>{{x.productPrice}}</td>
<td><button ng-click="editProduct(x)">Edit</button></td>
</tr>
</table>
</div>
<div style="margin-top: 30px;">
<form role="form" name="productForm">

	<div>
		<label for="InputproductCat">Product Categories</label>
		 <select id="InputProductCat" ng-model="product.productCatId" ng-options="obj.productCatId as obj.productCatName for obj in productCategories" style="margin-left: 84px;"><option value="">Product Category</option></select>
	</div>

	<div>
		<label for="InputProductName">Product Name</label>
		<input type="text" placeholder="Enter Product Name" id="InputProductName" required ng-model="product.productName" style="margin-left: 60px;">
	</div>
	<div>
		<label for="InputProductDesc">Product Description</label>
		<input type="text" placeholder="Enter Product Description" id="InputProductDesc" required ng-model="product.productDesc" style="margin-left: 55px;">
	</div>
	<div>
		<label for="InputProductSku">Product Sku</label>
		<input type="text" placeholder="Enter Product Sku" id="InputProductSku" required ng-model="product.sku" style="margin-left: 55px;">
	</div>
	<div>
		<label for="InputProductPrice">Product Price</label>
		<input type="text" placeholder="Enter Product Price" id="InputProductPrice" required ng-model="product.productPrice" style="margin-left: 44px;">
	</div>
	<div>
		<label for="InputInStock">In Stock</label>
		<input type="number" placeholder="In Stock Quantity" id="InputInStock" required ng-model="product.inStock" style="margin-left: 60px;">
		
	</div>
	<div>
		<label for="InputIsActive">Is Active</label>
		<input type="boolean" placeholder="Is Active" id="InputIsActive" required ng-model="product.isActive" style="margin-left: 60px;">
		
	</div>

	<div>
	<button class="btn btn-default" type="submit" ng-click="createProduct(product)" ng-disabled="productForm.$invalid" style="margin-left: 119px; margin-top: 30px">Submit</button>	
	<button class="btn btn-default" type="button" ng-click="clearProduct(product)" >Clear</button>
	</div>

	
	<span style="color:red">{{errorMessage}}</span>
	</form>
	</div>
	
</div>			