<div ng-if="usersExists">

<div style="margin-top: 20px;" >
Search <input type="text" ng-model="searchKey"/>
</div>
<div style="margin-top: 20px;">
<table border="1px">
<tr><th>Name</th><th>Password</th><th>Email</th><th>House No</th><th>Street</th><th>City</th><th>State</th><th>Country</th><th>Action</th></tr>
<tr ng-repeat="x in users | filter : searchKey ">
<td>{{x.userId}}</td><td>{{x.password}}</td><td>{{x.emailId}}</td><td>{{x.address.houseNo}}</td><td>{{x.address.street}}</td><td>{{x.address.city}}</td>
<td>{{x.address.state}}</td><td>{{x.address.country}}</td><td><button ng-click="editUser(x)">Edit</button></td>
</tr>
</table>
</div>
<div style="margin-top: 30px;">
<form role="form" name="userFrom">
	<div>
		<label for="InputUserName">User Id</label>
		<input type="text" placeholder="Enter Name" id="InputLoginId" required ng-model="user.userId" style="margin-left: 69px;">
	</div>
	<div>
		<label for="InputPassword">Password</label>
		<input type="text" placeholder="Enter password" id="inputPassword"  required ng-model="user.password"  style="margin-left: 55px;">
	</div>

	<div>
		<label for="InputEmailId">Email Id</label>
		<input type="email" placeholder="abc@xyz.com" id="InputEmailId" required ng-model="user.emailId" style="margin-left: 61px;">
		
	</div>
	
	<h3>Address</h3>
	<div>
		<label for="InputHouseNo">House No</label>
		<input type="number" placeholder="It must be number" id="InputHouseNo" required ng-pattern="/^[0-9]+/" ng-model="user.address.houseNo" style="margin-left: 52px;" >
			
	</div>
	<div>
		<label for="InputStreet">Street</label>
		<input type="text" placeholder="Enter Street" id="InputStreet" required ng-model="user.address.street" style="margin-left: 79px;">
		
	</div>
	<div>
		<label for="InputCity">City</label>
		<input type="text" placeholder="Enter City" id="InputCity" required ng-model="user.address.city" style="margin-left: 88px;">
		
	</div>
	<div>
		<label for="InputState">State</label>
		 <select id="InputState" ng-model="user.address.stateId" ng-options="obj.stateId as obj.stateName for obj in states" style="margin-left: 84px;"><option value="">States</option></select>
		 
	</div>
	<div>
		<label for="InputCountry">Country</label>
		<input type="text" placeholder="Enter Country" id="InputCountry" required ng-model="user.address.country" style="margin-left: 64px;" >
		
	</div>
	<div>
	<button class="btn btn-default" type="submit" ng-click="updateUser(user)" ng-disabled="userFrom.$invalid " style="margin-left: 119px; margin-top: 30px">Submit</button>	
	</div>

	
	<span style="color:red">{{message}}</span>
	</form>
	</div>
	
</div>